## Finding Difference Between Rows And Columns Of A Pandas DataFrame

https://pythontic.com/pandas/dataframe-computations/difference

In [2]:
import pandas as pd

 

dataset = [(2, 4, 6, 8),

           (10, 12, 14, 18),

           (20, 22, 24, 26),

           (28, 30, 32, 34)];

 

df = pd.DataFrame(dataset, columns = ("A", "B", "C", "D" ));

print("Dataset:")

print(df);

 

# Calculate the difference between rows - By default, periods = 1

difference = df.diff(axis=0);

print("Difference between rows(Period=1):");

print(difference);

 

# Calculate the difference between rows - periods = 2

difference = df.diff(periods=2)

print("Difference between rows(Period=2):");

print(difference);

 

# Calculate the difference between rows - periods = -1

difference = df.diff(periods=-1)

print("Difference between rows(Period=-1):");

print(difference);

 

# Calculate the difference between rows - periods = -2

difference = df.diff(periods=-2)

print("Difference between rows(Period=-2):");

print(difference);

Dataset:
    A   B   C   D
0   2   4   6   8
1  10  12  14  18
2  20  22  24  26
3  28  30  32  34
Difference between rows(Period=1):
      A     B     C     D
0   NaN   NaN   NaN   NaN
1   8.0   8.0   8.0  10.0
2  10.0  10.0  10.0   8.0
3   8.0   8.0   8.0   8.0
Difference between rows(Period=2):
      A     B     C     D
0   NaN   NaN   NaN   NaN
1   NaN   NaN   NaN   NaN
2  18.0  18.0  18.0  18.0
3  18.0  18.0  18.0  16.0
Difference between rows(Period=-1):
      A     B     C     D
0  -8.0  -8.0  -8.0 -10.0
1 -10.0 -10.0 -10.0  -8.0
2  -8.0  -8.0  -8.0  -8.0
3   NaN   NaN   NaN   NaN
Difference between rows(Period=-2):
      A     B     C     D
0 -18.0 -18.0 -18.0 -18.0
1 -18.0 -18.0 -18.0 -16.0
2   NaN   NaN   NaN   NaN
3   NaN   NaN   NaN   NaN

### Calculate the difference between columns

In [3]:
df2 = df.diff(axis=1)

In [4]:
df2

    A    B    C    D
0 NaN  2.0  2.0  2.0
1 NaN  2.0  2.0  4.0
2 NaN  2.0  2.0  2.0
3 NaN  2.0  2.0  2.0

In [5]:
df["AB"] = df["B"] - df["A"]

In [6]:
df

    A   B   C   D  AB
0   2   4   6   8   2
1  10  12  14  18   2
2  20  22  24  26   2
3  28  30  32  34   2