In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("russell_2000_stocks.csv")

In [3]:
df.shape

(2048, 10)

In [4]:
df.head()

,Ticker,Name,Sector,Asset Class,Market Value,Weight,Shares,CUSIP,ISIN,SEDOL
0,PENN,PENN NATIONAL GAMING INC,Consumer Discretionary,Equity,"$337,103,434.46",0.58,3666559.0,707569109,US7075691094,2682105
1,CZR,CAESARS ENTERTAINMENT INC,Consumer Discretionary,Equity,"$319,290,068.24",0.55,4232371.0,12769G100,US12769G1004,BMWWGB0
2,PLUG,PLUG POWER INC,Industrials,Equity,"$279,066,969.50",0.48,8824252.0,72919P202,US72919P2020,2508386
3,RARE,ULTRAGENYX PHARMACEUTICAL INC,Health Care,Equity,"$247,528,801.40",0.42,1473035.0,90400D108,US90400D1081,BJ62Z18
4,MRTX,MIRATI THERAPEUTICS INC,Health Care,Equity,"$235,860,234.50",0.40,1006874.0,60468T105,US60468T1051,BBPK0J0

In [5]:
df = df[["Ticker", "Name", "Sector"]]

In [6]:
df

     Ticker                               Name                  Sector
0      PENN           PENN NATIONAL GAMING INC  Consumer Discretionary
1       CZR          CAESARS ENTERTAINMENT INC  Consumer Discretionary
2      PLUG                     PLUG POWER INC             Industrials
3      RARE      ULTRAGENYX PHARMACEUTICAL INC             Health Care
4      MRTX            MIRATI THERAPEUTICS INC             Health Care
...     ...                                ...                     ...
2043   SEAC        SEACHANGE INTERNATIONAL INC  Information Technology
2044   AYTU                AYTU BIOSCIENCE INC             Health Care
2045  WLLAW  WHITING PETROLEUM EQUITY WARRANTS                  Energy
2046  WLLBW  WHITING PETROLEUM EQUITY WARRANTS                  Energy
2047   GTXI                     GTXI INC - CVR             Health Care

[2048 rows x 3 columns]

In [7]:
sectors = df.Sector.unique().tolist()

In [8]:
sectors

['Consumer Discretionary',
 'Industrials',
 'Health Care',
 'Consumer Staples',
 'Information Technology',
 'Real Estate',
 'Cash and/or Derivatives',
 'Utilities',
 'Materials',
 'Financials',
 'Communication',
 'Energy']

In [10]:
sector_map = {
    'Consumer Discretionary' : 'consumer-cyclical',
     'Industrials' : 'industrials',
     'Health Care' : 'healthcare',
     'Consumer Staples' : 'consumer-defensive',
     'Information Technology' : 'technology',
     'Real Estate': 'real-estate',
     'Cash and/or Derivatives' : 'cash-derivatives',
     'Utilities': 'utilities',
     'Materials': 'basic-materials',
     'Financials' : 'financial-services',
     'Communication': 'communication-services',
     'Energy': 'energy',
}

In [11]:
for k,v in sector_map.items():
    df.loc[df["Sector"] == k, "Sector"] = v

In [12]:
df.head()

  Ticker                           Name             Sector
0   PENN       PENN NATIONAL GAMING INC  consumer-cyclical
1    CZR      CAESARS ENTERTAINMENT INC  consumer-cyclical
2   PLUG                 PLUG POWER INC        industrials
3   RARE  ULTRAGENYX PHARMACEUTICAL INC         healthcare
4   MRTX        MIRATI THERAPEUTICS INC         healthcare

In [13]:
df.Sector.value_counts()

healthcare                508
financial-services        422
industrials               256
technology                216
consumer-cyclical         214
real-estate               115
energy                     81
basic-materials            76
communication-services     63
consumer-defensive         58
utilities                  36
cash-derivatives            3
Name: Sector, dtype: int64

In [14]:
df.to_csv("russell_2000_stocks.csv", index=False)