In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("sector_stocks.csv")

In [3]:
df.shape

(4990, 3)

In [4]:
df

     Ticker           Sector                          Company
0      ASIX  basic-materials                     AdvanSix Inc
1       AEM  basic-materials       Agnico Eagle Mines Limited
2       APD  basic-materials  Air Products and Chemicals, Inc
3       AGI  basic-materials                  Alamos Gold Inc
4       ALB  basic-materials            Albemarle Corporation
...     ...              ...                              ...
4985    UGI        utilities                  UGI Corporation
4986    UTL        utilities               Unitil Corporation
4987    VST        utilities               Vistra Energy Corp
4988    WEC        utilities            WEC Energy Group, Inc
4989    XEL        utilities                  Xcel Energy Inc

[4990 rows x 3 columns]

In [5]:
sectors = df.Sector.unique().tolist()

In [6]:
sectors

['basic-materials',
 'communication-services',
 'consumer-cyclical',
 'consumer-defensive',
 'energy',
 'financial-services',
 'healthcare',
 'industrials',
 'technology',
 'utilities']

In [7]:
for sec in sectors:
    df1 = df[df["Sector"] == sec]
    df1.drop("Sector", axis=1, inplace=True)
    df1.to_csv(f"sector-{sec}.csv", index=False)

/home/wengong/.local/lib/python3.8/site-packages/pandas/core/frame.py:4167: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [8]:
df.Sector.value_counts()

financial-services        1089
healthcare                1053
technology                 630
industrials                595
consumer-cyclical          492
energy                     307
communication-services     269
basic-materials            242
consumer-defensive         213
utilities                  100
Name: Sector, dtype: int64